:root {
  /* blue-cyan paint splash isolated on white background */
  /** primary Color */
  --teal: #024D5E;
  --petrol: #025E73;
  --ocean: #037F8C;
  --topaz: #04BFBF;
  --darkTurqoise: #04D9C4;

  /** Primary Contrast */
  --hotmag: #ff17e4;
  --magenta: #e310cb;

  /** background */
  --porcelain: #F2F2F2;
  --white: #FFF;


  /**  secondary Color : Brown Shades */
  --irishCoffee: #5F3D26;
  --plum: #4b0d49;



  /* reference colors colors */
  /* Color Theme Swatches in Hex */
  --black: #171321;
  --dkblue: #0d314b;
  --aqua: #86fbfb;

  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/** Common Styles **/
/* border box model: https://css-tricks.com/box-sizing/ --
by having below two selector
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--porcelain);
  color: var(--teal);
  font-size: var(--font-size);
}

/* to remove the margin for consistenency across browser */
h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--magenta)
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--mono);
  text-decoration: none;
  border: 0px;
}

.button:hover, .button:focus {
  color: var(--black);
  background-color: var(--hotmag);
  outline: var(--ocean);
}

.section-plum {
  background-color: var(--plum);
}

.section-dkblue {
  background-color: var(--teal);
  color: var(--porcelain);
}

.gradient {
  height: 2px;
  background: linear-gradient(90deg, rgba(67, 182, 26, 1) 25%, rgba(109, 0, 255, 1) 86%);
}

img {
  width: 100%;
}

/** navbar */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav [class*="fa-"] {
  font-size: 150%;
}

nav a {
  color: var(--petrol);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}


nav h1 [class*="fa-"] {
  font-size: 120%;
  color: var(--magenta);
}

nav h1 span.name {
  font-size: 120%;
}

/** intro */
#intro {
  padding: 4rem 1em 10em 1em;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
  /* no unit of measure needed as we need responsive to font-size */
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--magenta);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/** Contact Section **/

#contact {
  color: var(--white);
  padding: 2rem 0;
  width: 450px;
  margin: 0 auto;
}

#contact .heading {
  margin: 0;
  font-size: 1.3rem;
}

#contact .info {
  font-size: 1rem;
}

#contact form h5 {
  margin: 0;
  font-family: var(--mono);
  font-weight: normal;
}

#contact form label {
  font-size: 1rem;
}

#contact form input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
}

#contact form textarea {
  padding: 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
  width: 100%;
}

#contact form input:focus, input:focus-visible, textarea:focus-visible {
  outline: var(--magenta);
  outline-style: solid;
  outline-width: 0.2rem;
}

#contact form p {
  margin: 0;
}

#contact form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#contact .btn-container {
  margin-top: 2rem;
  font-size: 1rem;
}

#contact .align-col-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#contact .contact-options {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

#contact .contact-options .divider-text {
  font-family: var(--mono);
}


/** Footer */
footer {
  text-align: center;
  margin: 4rem 0;
}

footer h2 {
  font-size: 150%;
  font-weight: normal;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
}

footer [class*="fa-"] {
  font-size: 150%;
}

/** portpolio Section */
#portpolio {
  padding: 4rem 1rem;
}

#portpolio h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem*1.5);
}

#portpolio article {
  margin-bottom: 3rem;
}

#portpolio article h3 {
  color: var(--darkTurqoise);
}

#portpolio article h4 {
  margin: 0;
  font-family: var(--mono);
  font-weight: normal;
  font-size: 1rem;
}

#portpolio article .black-box {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

#portpolio article ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

#portpolio article .tech-stack {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: flex-start;
}

#portpolio article .image-frame {
  margin-top: 1.5rem;
  border-left: 2px solid var(--darkTurqoise);
  border-top: 2px solid var(--darkTurqoise);
  padding: 1rem;
  border-radius: 10px;
}


/** responsive */
@media(min-width: 550px) {
  #portpolio article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #portpolio article img {
    grid-row: 1/2;
  }

  #portpolio article .text {
    grid-row: 1/2;
    order: 2;
  }

  #portpolio article:nth-child(odd) img {
    grid-column: 1/6;
  }

  #portpolio article:nth-child(odd) .text {
    grid-column: 5/11;
    text-align: right;
  }

  #portpolio article:nth-child(even) img {
    grid-column: 6/11;
  }


  #portpolio article:nth-child(even) .text {
    grid-column: 1/7;
    text-align: left;
  }

  #portpolio article:nth-child(odd) .tech-stack {
    justify-content: flex-end;
  }

  #portpolio article:nth-child(even) .tech-stack {
    justify-content: flex-start;
  }
}


@media(min-width: 850px) {

  nav, #intro, #portpolio, #footer, #contact {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: center;
    margin-right: auto;
  }
}